/* Boiler Plate */
#root {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  background: rgb(0, 0, 0);
  background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(121, 65, 9, 1) 74%, rgba(0, 0, 0, 1) 86%);
}

html,
body {
  min-height: 100%;
}


body {
  background: transparent;
  margin: 0;
  padding: 0;
  
}

.App {
  background: transparent;
  text-align: center;

}

.buttons{
  margin-bottom: 2px;
  border: orange solid 2px;
  border-radius: 5px;
  background-color: black;
  color: orange;
  padding: 3px;
  margin-left: 2px;
  margin-right: 2px;
}

.buttons:hover{
  text-decoration: none;
  color: grey;
}

footer {
  display: flex;
  bottom: 0;
  width: 100%;
  height: 100px; 
  display: flex;
  /* Height of the footer */
  background-color: rgb(200, 129, 37);
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  font-weight:bold;
  border-top: black solid 2px;
}

.supportText {
  margin-right: 5%;
}

.mainTitleContainer {
 margin: 1%;
  padding: 2%;
  background-image: url("../src/img/wood_board.jpg");
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 50px;
  border-radius: 10px;
  border: solid black 2px;

}

.mainTitle {
  padding: 2%;
 background-color: tan;
 border-radius: 10px;

}


/*---------------------LOGIN AND REGISTER STYLES -----------------------------*/
.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: rgb(255, 153, 0, 0.871);
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.loginBtn,
 .signupBtn{
  margin-top: 2vh;
  background-color: #363a43;
  border-color: #000000;
  color: rgb(255, 255, 255);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* MEDIA QUERIES------------------------------------------------------------------------- */
@media (max-width: 1075px) {
 

  footer{
    font-size: smaller;
  }
}



@media (max-width: 480px) {
  
  .navbar-right {
    margin-right: 20px;
  }

.buttons{
  font-size: 20px;
}

}


@media (max-width: 473px) {

  .navbar{
    display: flex;
    justify-content: space-around;
  }


}

