#root {
    --black: #141414;
    --yellow: #EEC643;
    --white: #EEF0F2;
    --blue: #0D21A1;
    --darkBlue: #011638;
}

.priceCheckContainer {
    margin-top: 10vh;
    color: var(--white);
}

.priceCheckTitle {
font-size: 10vh;
}

.priceContainer {
margin: 1rem;
background-image: url("../../img/wood_board.jpg");
background-attachment: fixed;
background-size: cover;
justify-content: center;
border: var(--yellow) solid 2px;
}

.priceWrapper {
    background: var(--yellow);
    margin: 1rem;
    border-radius: 5px;
    border: var(--darkBlue) solid 2px;
}


.costTitle{
font-size: 5vh;
color: var(--white);
text-decoration: underline;

}

.price {
font-size: 10vh;
}

